<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Home | Express.js App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="container">
    <h1>¡Bienvenido a la aplicación Express.js!</h1>
    <p>Esta es una aplicación sencilla usando Express y EJS.</p>
    <!--mostrar hora actual con ejs-->
    <p>La fecha y hora actual es: <%= new Date().toLocaleString() %>
    </p>
  </div>
</body>

</html>